.errorEasterEgg_titleError {
    position: relative;
    width: 100%;
    height: 30px;
    margin: 0 auto;
    padding: 0 2px 0 2px;
    font-family: 'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans', 'Helvetica Neue', Arial, sans-serif;
    font-size: 14px;
    color: #fff;
    text-shadow: 0 0 #fff;
    line-height: 30px;
    background-image: -webkit-linear-gradient(left, #0050e0, #3890f8);
    background-image: -moz-linear-gradient(left, #0050e0, #3890f8);
    background-image: linear-gradient(left, #0050e0, #3890f8);
}

.errorEasterEgg {
    position: absolute;
    width: 494px;
    height: 142px;
    padding: 2px;
    border: 1px outset #dedede;
    border-color: #a3a3a3;
    background-color: #e8e8d8;
    animation: display 200ms;
    animation-fill-mode: forwards;
}

.errorEasterEgg:nth-of-type(1) {
    top: 17%;
    left: 12%;
    animation-delay: 100ms;
}

.errorEasterEgg:nth-of-type(2) {
    top: 38%;
    left: 4%;
    animation-delay: 200ms;
}

.errorEasterEgg:nth-of-type(3) {
    top: 29%;
    left: 33%;
    animation-delay: 300ms;
}

.errorEasterEgg:nth-of-type(4) {
    top: 21%;
    left: 5%;
    animation-delay: 400ms;
}

.errorEasterEgg:nth-of-type(5) {
    top: 9%;
    left: 24%;
    animation-delay: 500ms;
}

.errorEasterEgg:nth-of-type(6) {
    top: 80%;
    left: 6%;
    animation-delay: 600ms;
}

.errorEasterEgg:nth-of-type(7) {
    top: 44%;
    left: 27%;
    animation-delay: 700ms;
}

.errorEasterEgg:nth-of-type(8) {
    top: 37%;
    left: 9%;
    animation-delay: 800ms;
}

.errorEasterEgg:nth-of-type(9) {
    top: 57%;
    left: 42%;
    animation-delay: 900ms;
}

.errorEasterEgg:nth-of-type(10) {
    top: 33%;
    left: 39%;
    animation-delay: 1000ms;
}

.errorEasterEgg:nth-of-type(11) {
    top: 42%;
    left: 34%;
    animation-delay: 1100ms;
}

.errorEasterEgg:nth-of-type(12) {
    top: 75%;
    left: 52%;
    animation-delay: 1200ms;
}

.errorEasterEgg:nth-of-type(13) {
    top: 34%;
    left: 63%;
    animation-delay: 1300ms;
}

.errorEasterEgg:nth-of-type(14) {
    top: 13%;
    left: 29%;
    animation-delay: 1400ms;
}

.errorEasterEgg:nth-of-type(15) {
    top: 57%;
    left: 1%;
    animation-delay: 1500ms;
}

.errorEasterEgg_closeButton {
    position: absolute;
    top: 2px;
    right: 2px;
    width: 25px;
    height: 25px;
    color: #000;
    text-align: center;
    font-weight: bold;
    background-color: #e8e8d8;
}

.errorEasterEgg_message {
    width: 100%;
    margin-top: 25px;
    margin-left: 10px;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

.errorEasterEgg_message img {
    float: left;
    margin-top: -15px;
    margin-right: 20px;
}

.errorEasterEgg_ok {
    position: absolute;
    width: 100px;
    height: 27px;
    background-color: #e8e8d8;
    border: 1px solid #2b2b2b;
    box-shadow: inset -1px -1px 2px rgba(0, 0, 0, 0.7);
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
}

.errorEasterEgg_ok:focus>span {
    border: 1px dotted #000;
}

.errorEasterEgg_ok span {
    display: block;
    width: 108%;
    height: 86%;
    margin-top: -2px;
    margin-left: -4px;
    line-height: 17px;
}