/* Start - Code fuer den Dekstop */
    .desktop {
        position: absolute;
        top: 96px;
        left: 32px;
    }

    .desktop .deskIcon {
        position: relative;
        text-align: center;
        display: inline-block;
        padding: 12px 12px;
    }

    .desktop .deskIcon span {
        position: absolute;
        top: 84px;
        left: 13px;
        font-family: soleil, sans-serif;
        font-weight: 100;
        color: #fff;
        text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
    }

    .desktop .deskIcon img {
        width: 64px;
        border-radius: 5px;
        padding: 0px 2px;
        border: 2px solid rgba(255, 255, 255, 0);
        transition: background 0.1s, border-color 0.1s, -webkit-transform 0.2s;
    }

    .desktop .deskIcon img:hover {
        -webkit-transform: scale(1.08);
    }

    /* Ende - Code fuer den Dekstop */

    /* Start - Code fuer die Fenster */
    .window .body {
        width: 100%;
        height: 100%;
        padding: 4px 6px;
        font-family: "Source Code Pro", sans-serif;
        font-weight: 100;
    }

    .window {
        position: absolute;
        width: 768px;
        height: auto;
        left: 384px;
        top: 128px;
        background: rgba(245, 245, 245, 1);
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        padding-top: 12px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        overflow-y: hidden;
        overflow-x: hidden;
        transition: box-shadow 0.4s, -webkit-transform 0.3s;
        -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.65);
        -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.65);
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.65);
        z-index: 900;
    }

    .head {
        position: relative;
        top: -12px;
        left: -12px;
        width: 101.8%;
        height: 18px;
        padding: 6px 6px;
        background: linear-gradient(#ddd, #ccc);
        border-bottom: 1px solid #898989;
        z-index: 1000;
    }

    div.active {
        z-index: 9999 !important;
        -webkit-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.75) !important;
        -moz-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.75) !important;
        box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.75) !important;
    }

    .body {
        width: 99%;
        margin-left: auto;
        margin-right: auto;
        text-align: justify;
    }

    .ui-right {
        margin-top: 1px;
        padding-left: 12px;
        cursor: default;
    }

    .exit {
        display: inline-block;
        border-radius: 50%;
        width: 14px;
        height: 14px;
        background: #FF4344;
        border: 1px solid #CC3738;
        transition: background 0.1s;
    }

    .exit:hover {
        background: #FF6A6B;
    }

    .exit:active {
        background: #CC3738;
    }

    .minimize {
        display: inline-block;
        border-radius: 50%;
        width: 14px;
        height: 14px;
        background: #FFBA36;
        border: 1px solid #CC952B;
        transition: background 0.15s;
    }

    .minimize:hover {
        background: #FFC85E;
    }

    .minimize:active {
        background: #CC952B;
    }

    .exit {
        display: inline-block;
        border-radius: 50%;
        width: 14px;
        height: 14px;
        background: #FF4546;
        border: 1px solid #CC3738;
        transition: background 0.1s;
    }

    .exit:hover {
        background: #FF6A6B;
    }

    .exit:active {
        background: #CC3738;
    }

    .expand {
        display: inline-block;
        border-radius: 50%;
        width: 14px;
        height: 14px;
        background: #00D147;
        border: 1px solid #00A739;
        transition: background 0.1s;
    }

    .expand:hover {
        background: #33DA6C;
    }

    .expand:active {
        background: #00A739;
    }

    .ui-center {
        font-family: soleil, sans-serif;
        font-weight: 100;
        text-align: center;
        margin-top: -36px;
        margin-right: 20px;
        cursor: default;
    }

    /* Ende - Code fuer die Fenster */

    /* Start - Code fuer die Kontaktinfos */
    .contactInfo {
        max-width: 1920px !important;
        height: 296px;
        overflow: hidden;
    }

    /* Ende - Code fuer die Kontaktinfos */

    /* Start - Code fuer den Stundenplan */
    .lehrerLisste .body {}

    /* Ende - Code fuer den Stundenplan */

    /* Start - Code fuer die Lehrer-Liste */
    .stundenPlan .body .left {
        position: relative;
        width: 22.5%;
        background-image: url('../../images/bluredBackground.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        height: 97.1%;
        height: calc(100% - 19px);
        top: -16px;
        left: -7px;
        z-index: 100;
        overflow-x: hidden;
        overflow-y: scroll;
        border-right: 1px solid rgba(0, 0, 0, 0.3);
        border-bottom-left-radius: 5px;
    }

    .stundenPlan .body .left::-webkit-scrollbar,
    .stundenPlan .body .center::-webkit-scrollbar,
    #readMeInfoDiv>div.body::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }

    .stundenPlan .body .left.thin::-webkit-scrollbar,
    .stundenPlan .body .center.thin::-webkit-scrollbar {
        width: 2px;
    }

    .stundenPlan .body .left::-webkit-scrollbar-track,
    .stundenPlan .body .center::-webkit-scrollbar-track,
    .stundenPlan .body .left::-webkit-scrollbar-track-piece,
    .stundenPlan .body .center::-webkit-scrollbar-track-piece,
    #readMeInfoDiv>div.body::-webkit-scrollbar-track,
    #readMeInfoDiv>div.body::-webkit-scrollbar-track-piece {
        border-radius: 10px;
        background: #eee;
    }

    .stundenPlan .body .left::-webkit-scrollbar-thumb,
    .stundenPlan .body .center::-webkit-scrollbar-thumb,
    #readMeInfoDiv>div.body::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: #888;
    }

    .stundenPlan .body .left::-webkit-scrollbar-thumb:window-inactive,
    .stundenPlan .body .center::-webkit-scrollbar-thumb:window-inactive,
    #readMeInfoDiv>div.body ::-webkit-scrollbar-thumb:window-inactive {
        background: rgba(100, 100, 100, 0.4);
    }

    .stundenPlan .body .center {
        position: absolute;
        top: 0;
        padding-top: 38px;
        left: 22.5%;
        z-index: 80;
        width: 77.5%;
        height: 88%;
        height: calc(100% - 38px);
        overflow-y: scroll;
        overflow-x: scroll;
    }

    .stundenPlan .body .left div {
        background: rgba(255, 255, 255, 0.26);
        position: absolute;
        margin-top: -12px;
        width: 100%;
    }

    .stundenPlan .body .left ul {
        padding-left: 0px;
        list-style: none;
        height: 100%;
    }

    .stundenPlan .body .left ul span {
        padding: 4px 4px;
        color: #000;
        font-family: soleil, sans-serif;
        font-weight: bold;
        font-size: 18px;
    }

    .stundenPlan .body .left ul li i {
        padding-right: 4px;
    }

    .stundenPlan .body .left ul li {
        width: 100%;
        padding: 6px 12px;
        color: #000;
        font-family: soleil, sans-serif;
        font-weight: 100;
        transition: background 0.2s;
        letter-spacing: 0.12em;
    }

    .stundenPlan .body .left ul li:hover {
        background: rgba(255, 255, 255, 0.45) !important;
    }

    /* Ende - Code fuer die Lehrer-Liste */