/*Der Allgemeine Hintergrund*/
body{
  background: url("transparent.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#hintergrund{
    background: url(yosemite.jpg) no-repeat center center fixed;
    -webkit-filter : blur(5px);
    -moz-filter    : blur(5px);
    -o-filter      : blur(5px);
    -ms-filter     : blur(5px);
    filter         : blur(5px);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border: 1;
    z-index: 0;
    margin:-1px;  
}
#message{
    font: normal normal normal normal 12px/16px 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/*Style für Cancel Button*/
#cancelButton{
    width:100%;
    height:115px;
    bottom: 0px;
    position: absolute;
    left: 0px;
    text-align: center;
    padding-bottom: 26px;
    background-repeat: no-repeat;
}
/* Ruetteln beim Fehl-Anmelden*/
.error {
	-moz-animation:error 0.35s linear;	
	-webkit-animation:error 0.35s linear;	
}

@-webkit-keyframes error {
	0% { -webkit-transform:translateX(0px); }
	25% { -webkit-transform:translateX(30px); }
	45% { -webkit-transform:translateX(-30px); }
	65% { -webkit-transform:translateX(30px); }
	82% { -webkit-transform:translateX(-30px); }
	94% { -webkit-transform:translateX(30px); }
	35%, 55%, 75%, 87%, 97%, 100% { -webkit-transform:translateX(0px); }
}

@-moz-keyframes error {
	0% { -moz-transform:translateX(0px); }
	25% { -moz-transform:translateX(30px); }
	45% { -moz-transform:translateX(-30px); }
	65% { -moz-transform:translateX(30px); }
	82% { -moz-transform:translateX(-30px); }
	94% { -moz-transform:translateX(30px); }
	35%, 55%, 75%, 87%, 97%, 100% { -moz-transform:translateX(0px); }
}


#DIV_1, #CENTER_2 {
    width: 1865px;
    perspective-origin: 932.5px 0px;
    transform-origin: 932.5px 0px;
    font: normal normal normal normal 12px/16px 'Helvetica Neue', Helvetica, Arial, sans-serif;
}/*#DIV_1, #CENTER_2*/

/* Position wo sich das Login-Fenster aufhält */
#DIV_3 {
    height: 360px;
    left: 50%;
    position: absolute;
    text-align: -webkit-center;
    top: 40%;
    width: 480px;
    align-self: stretch;
    perspective-origin: 240px 180px;
    transform-origin: 240px 180px;
    font: normal normal normal normal 12px/16px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: -144px 0px 0px -240px;
}/*#DIV_3*/

#SECTION_4 {
    box-shadow: rgba(0, 0, 0, 0.65098) 0px 7px 25px 0px;
    height: 90px;
    left: 228.390625px;
    position: absolute;
    text-align: center;
    top: 291px;
    width: 330px;
    z-index: 2;
    align-self: stretch;
    perspective-origin: 182px 62px;
    transform-origin: 182px 0px;
    background: rgb(242, 240, 235) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 1px solid rgba(52, 52, 52, 0.34902);
    border-radius: 3px 3px 3px 3px;
    font: normal normal normal normal 12px/16px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0px 1px 8px -165px;
    padding: 16px;
}/*#SECTION_4*/

#P_5 {
    color: rgb(100, 100, 100);
    height: 16px;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.247059) 0px -1px 0px;
    width: 330px;
    perspective-origin: 165px 8px;
    transform-origin: 165px 8px;
    border: 0px none rgb(100, 100, 100);
    font: normal normal normal normal 12px/16px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 8px 0px 0px;
    outline: rgb(100, 100, 100) none 0px;
}/*#P_5*/

#P_6 {
    color: rgb(100, 100, 100);
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.247059) 0px -1px 0px;
    width: 330px;
    perspective-origin: 165px 0px;
    transform-origin: 165px 0px;
    border: 0px none rgb(100, 100, 100);
    font: normal normal normal normal 12px/16px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 8px 0px 0px;
    outline: rgb(100, 100, 100) none 0px;
}/*#P_6*/

#A_7 {
    color: rgb(75, 102, 167);
    display: block;
    height: 0px;
    left: 165px;
    position: absolute;
    right: 16px;
    text-align: center;
    top: -13px;
    width: 0px;
    z-index: 1;
    align-self: stretch;
    perspective-origin: 14px 7px;
    transform-origin: 14px 7px;
    content: '';
    border-top: 0px none rgb(75, 102, 167);
    border-right: 14px solid rgba(0, 0, 0, 0);
    border-bottom: 14px solid rgb(242, 240, 235);
    border-left: 14px solid rgba(0, 0, 0, 0);
    font: normal normal normal normal 12px/16px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0px 0px 0px -14px;
    outline: rgb(75, 102, 167) none 0px;
}/*#A_7*/

#SECTION_8 {
    box-sizing: border-box;
    clear: both;
    color: rgb(77, 77, 77);
    height: 280px;
    position: relative;
    text-align: -webkit-center;
    width: 320px;
    perspective-origin: 160px 140px;
    transform-origin: 160px 140px;
    background: rgba(242, 16, 16, 0) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(77, 77, 77);
    border-radius: 10px 10px 10px 10px;
    font: normal normal normal normal 12px/16px Helvetica, Arial, sans-serif;
    margin: 20px;
    outline: rgb(77, 77, 77) none 0px;
    overflow: hidden;
    
    position: absolute;
    left: 52.391px;
}/*#SECTION_8*/

#SECTION_8:after {
    clear: both;
    color: rgb(77, 77, 77);
    display: block;
    text-align: -webkit-center;
    visibility: hidden;
    width: 320px;
    perspective-origin: 160px 0px;
    transform-origin: 160px 0px;
    content: ' ';
    border: 0px none rgb(77, 77, 77);
    font: normal normal normal normal 12px/16px Helvetica, Arial, sans-serif;
    outline: rgb(77, 77, 77) none 0px;
    overflow: hidden;
}/*#SECTION_8:after*/

#SECTION_8:before {
    color: rgb(77, 77, 77);
    display: block;
    text-align: -webkit-center;
    width: 320px;
    perspective-origin: 160px 0px;
    transform-origin: 160px 0px;
    content: ' ';
    border: 0px none rgb(77, 77, 77);
    font: normal normal normal normal 12px/16px Helvetica, Arial, sans-serif;
    outline: rgb(77, 77, 77) none 0px;
    overflow: hidden;
}/*#SECTION_8:before*/

#DIV_9 {
    background-position: 114px 28px;
    border-collapse: collapse;
    color: rgb(77, 77, 77);
    display: table;
    height: 160px;
    text-align: -webkit-center;
    width: 320px;
    perspective-origin: 160px 80px;
    transform-origin: 160px 80px;
    background: rgba(0, 0, 0, 0) url(login.png) no-repeat scroll 114px 28px / auto padding-box border-box;
    border: 0px none rgb(77, 77, 77);
    border-radius: 3px 3px 0 0;
    font: normal normal normal normal 12px/16px Helvetica, Arial, sans-serif;
    outline: rgb(77, 77, 77) none 0px;
}/*#DIV_9*/

#H1_10 {
    border-collapse: collapse;
    display: table-cell;
    height: 20px;
    letter-spacing: 1px;
    text-align: center;
    text-shadow: rgba(255, 255, 255, 0.74902) 0px 1px 0px;
    vertical-align: middle;
    width: 320px;
    perspective-origin: 160px 80px;
    transform-origin: 160px 80px;
    font: normal normal bold normal 15px/20px 'Lucida Grande', 'Lucida Sans Unicode', Helvetica, Arial, Verdana, sans-serif;
    margin: 0px;
    padding: 140px 0px 0px;
}/*#H1_10*/

#SPAN_11 {
    border-collapse: collapse;
    color: rgb(77, 77, 77);
    display: table-cell;
    height: 160px;
    text-align: right;
    width: 0px;
    perspective-origin: 0px 80px;
    transform-origin: 0px 80px;
    border: 0px none rgb(77, 77, 77);
    font: normal normal normal normal 12px/16px Helvetica, Arial, sans-serif;
    outline: rgb(77, 77, 77) none 0px;
}/*#SPAN_11*/

#DIV_12 {
    color: rgb(77, 77, 77);
    height: 96px;
    text-align: -webkit-center;
    width: 304px;
    perspective-origin: 160px 56px;
    transform-origin: 160px 56px;
    border: 0px none rgb(77, 77, 77);
    border-radius: 0 0 3px 3px;
    font: normal normal normal normal 12px/16px Helvetica, Arial, sans-serif;
    outline: rgb(77, 77, 77) none 0px;
    overflow: hidden;
    padding: 8px;
}/*#DIV_12*/

#DIV_12:after {
    clear: both;
    color: rgb(77, 77, 77);
    display: block;
    text-align: -webkit-center;
    visibility: hidden;
    width: 304px;
    perspective-origin: 152px 0px;
    transform-origin: 152px 0px;
    content: ' ';
    border: 0px none rgb(77, 77, 77);
    font: normal normal normal normal 12px/16px Helvetica, Arial, sans-serif;
    outline: rgb(77, 77, 77) none 0px;
    overflow: hidden;
}/*#DIV_12:after*/

#DIV_12:before {
    color: rgb(77, 77, 77);
    display: block;
    text-align: -webkit-center;
    width: 304px;
    perspective-origin: 152px 0px;
    transform-origin: 152px 0px;
    content: ' ';
    border: 0px none rgb(77, 77, 77);
    font: normal normal normal normal 12px/16px Helvetica, Arial, sans-serif;
    outline: rgb(77, 77, 77) none 0px;
    overflow: hidden;
}/*#DIV_12:before*/

#TABLE_13 {
    border-collapse: collapse;
    color: rgb(77, 77, 77);
    height: 96px;
    width: 349px;
    perspective-origin: 174.5px 48px;
    transform-origin: 174.5px 48px;
    border: 0px none rgb(77, 77, 77);
    border-spacing: 0px 0px;
    font: normal normal normal normal 12px/16px Helvetica, Arial, sans-serif;
    outline: rgb(77, 77, 77) none 0px;
}/*#TABLE_13*/

#TBODY_14 {
    border-collapse: collapse;
    color: rgb(77, 77, 77);
    height: 96px;
    vertical-align: baseline;
    width: 349px;
    perspective-origin: 174.5px 48px;
    transform-origin: 174.5px 48px;
    border: 0px none rgb(77, 77, 77);
    font: normal normal normal normal 12px/16px Helvetica, Arial, sans-serif;
    outline: rgb(77, 77, 77) none 0px;
}/*#TBODY_14*/

#TR_15, #TR_21 {
    border-collapse: collapse;
    color: rgb(77, 77, 77);
    height: 48px;
    width: 349px;
    perspective-origin: 174.5px 24px;
    transform-origin: 174.5px 24px;
    border: 0px none rgb(77, 77, 77);
    font: normal normal normal normal 12px/16px Helvetica, Arial, sans-serif;
    outline: rgb(77, 77, 77) none 0px;
}/*#TR_15, #TR_21*/

#TD_16, #TD_22 {
    border-collapse: collapse;
    color: rgb(77, 77, 77);
    height: 40px;
    text-align: -webkit-right;
    vertical-align: middle;
    width: 8px;
    perspective-origin: 8px 24px;
    transform-origin: 8px 24px;
    border: 0px none rgb(77, 77, 77);
    border-radius: 4px 0 0 4px;
    font: normal normal normal normal 12px/16px Helvetica, Arial, sans-serif;
    outline: rgb(77, 77, 77) none 0px;
    padding: 4px;
}/*#TD_16, #TD_22*/

#LABEL_17, #LABEL_23 {
    border-collapse: collapse;
    color: rgb(102, 102, 102);
    display: block;
    height: 40px;
    text-align: -webkit-right;
    visibility: hidden;
    width: 0px;
    perspective-origin: 0px 20px;
    transform-origin: 0px 20px;
    border: 0px none rgb(102, 102, 102);
    font: normal normal normal normal 13px/40px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0px 8px 0px 0px;
    outline: rgb(102, 102, 102) none 0px;
}/*#LABEL_17, #LABEL_23*/

#TD_18 {
    border-collapse: collapse;
    color: rgb(77, 77, 77);
    height: 40px;
    text-align: -webkit-left;
    vertical-align: middle;
    width: 252px;
    perspective-origin: 130px 24px;
    transform-origin: 130px 24px;
    border: 0px none rgb(77, 77, 77);
    border-radius: 0 4px 4px 0;
    font: normal normal normal normal 12px/16px Helvetica, Arial, sans-serif;
    outline: rgb(77, 77, 77) none 0px;
    padding: 4px;
}/*#TD_18*/

#INPUT_19, #INPUT_25 {
    border-collapse: collapse;
    box-sizing: content-box;
    color: rgba(255, 255, 255, 0.658824);
    display: none;
    height: 18px;
    width: 240px;
    perspective-origin: 50% 50%;
    transform-origin: 50% 50%;
    background: rgb(203, 203, 203) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 5px 5px 5px 5px;
    font: normal normal normal normal 14px/22px HelveticaNeue-Light, 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
    outline: rgba(255, 255, 255, 0.658824) none 0px;
    padding: 5px;
    transition: border 0.1s ease 0s, box-shadow 0.1s ease 0s;
}/*#INPUT_19, #INPUT_25*/

#INPUT_20, #INPUT_26 {
    border-collapse: collapse;
    box-sizing: content-box;
    color: rgba(255, 255, 255, 0.658824);

    display: block;
    height: 18px;
    width: 240px;
    perspective-origin: 126px 15px;
    transform-origin: 126px 15px;
    background: rgb(203, 203, 203) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 5px 5px 5px 5px;
    font: normal normal normal normal 14px/22px HelveticaNeue-Light, 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
    outline: rgba(255, 255, 255, 0.658824) none 0px;
    padding: 5px;
    transition: border 0.1s ease 0s, box-shadow 0.1s ease 0s;
}/*#INPUT_20, #INPUT_26*/

#TD_24 {
    border-collapse: collapse;
    color: rgb(77, 77, 77);
    height: 40px;
    text-align: -webkit-left;
    vertical-align: middle;
    width: 252px;
    perspective-origin: 130px 24px;
    transform-origin: 130px 24px;
    border: 0px none rgb(77, 77, 77);
    font: normal normal normal normal 12px/16px Helvetica, Arial, sans-serif;
    outline: rgb(77, 77, 77) none 0px;
    padding: 4px;
}/*#TD_24*/

#TD_27 {
    border-collapse: collapse;
    color: rgb(77, 77, 77);
    height: 40px;
    text-align: -webkit-left;
    vertical-align: middle;
    width: 65px;
    perspective-origin: 36.5px 24px;
    transform-origin: 36.5px 24px;
    border: 0px none rgb(77, 77, 77);
    border-radius: 0 4px 4px 0;
    font: normal normal normal normal 12px/16px Helvetica, Arial, sans-serif;
    outline: rgb(77, 77, 77) none 0px;
    padding: 4px;
}/*#TD_27*/

#A_28 {
    border-collapse: collapse;
    color: rgb(75, 102, 167);
    display: block;
    float: left;
    height: 28px;
    left: -33px;
    position: relative;
    text-align: center;
    text-decoration: none;
    width: 28px;
    perspective-origin: 32.5px 14px;
    transform-origin: 32.5px 14px;
    background: rgba(0, 0, 0, 0) url(transparent.png) repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(75, 102, 167);
    border-radius: 3px 3px 3px 3px;
    font: normal normal bold normal 14px/36px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    outline: rgb(75, 102, 167) none 0px;
    padding: 0px 0px 0px 37px;
}/*#A_28*/

#SPAN_29 {
    border-collapse: collapse;
    box-shadow: rgba(255, 255, 255, 0.498039) 0px 1px 0px 0px inset;
    color: rgb(255, 255, 255);
    display: block;
    height: 28px;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.34902) 0px -1px 0px;
    white-space: nowrap;
    width: 28px;
    perspective-origin: 14px 14px;
    transform-origin: 14px 14px;
    background: rgba(0, 0, 0, 0) url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeBAMAAADJHrORAAAAHlBMVEXs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Oxv/P/QAAAACXRSTlMAAStok5fV6epkw0urAAAARElEQVQY02OYiQoY6MOPQOVPYepE4c9Q0EBV3wRTAOXDFcDMhymA8WcoqKPan8iMVx5NP7r5aPajuw/d/ej+o3v4wgEAa6MB3qSyTtAAAAAASUVORK5CYII=) repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(255, 255, 255);
    border-radius: 100% 100% 100% 100%;
    font: normal normal bold normal 14px/36px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    outline: rgb(255, 255, 255) none 0px;
}/*#SPAN_29*/

#loadingSpinner
{
    left: -42px;
    top: 2px;
    position: relative;
}